{% load static %}

<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static "hopeapaju/temp-style.css" %}" >
    </head>
    <body>
        <div class="horse">
            <h1>Hopeapajun kartano</h1>
            <p>Hopeapajun Kartano uudistuu - sivujen sisältö toistaiseksi puutteellinen.</p>
            <p><a href="hevoset">Hevoslistaan</a></p>
            <p>/ Rim (VRL-02488) <a href="mailto:virtuaali&commat;illuusion.net">virtuaali @ illuusion.net</a></p>


    </div>
    </body>

</html>